@page
@model IndexModel

<h2>@Model.Title</h2>

<ul>
    <li><a asp-page="/Routing">Routing</a></li>
    <li><a asp-page="/ModelBinding">Model Binding ([From...])</a></li>
    <li><a asp-page="/ModelBinding2">Model Binding ([BindProperty])</a></li>
    <li><a asp-page="/ModelValidation">Model Validation</a></li>
    <li><a asp-page="/DependencyInjection">Dependency Injection</a></li>
    <li><a asp-page="/ViewComponents">View Components</a></li>
    <li><a asp-page="/Areas">Areas</a></li>
    <li><a asp-page="/FileUpload">File Upload</a></li>
    <li><a asp-page="/FileDownload">File Download</a></li>
    <li><a asp-page="/Filters">Filters</a></li>
    <li><a asp-page="/ProtectedPages/Index">Protected Pages</a></li>
    <li><a asp-page="/Testing">Testing</a></li>
</ul>