@page
@model IndexModel

<h2>@Model.Title</h2>

<ul>
    <li><a asp-page="/Routing">Routing</a></li>
    <li><a asp-page="/ModelBinding">Model Binding</a></li>
    <li><a asp-page="/ModelValidation">Model Validation</a></li>
    <li><a asp-page="/DependencyInjection">Dependency Injection</a></li>
    <li><a asp-page="/MultipleLayout">Multiple Layout</a></li>
    <li><a asp-page="/PartialViews">Partial Views</a></li>
    <li><a asp-page="/ViewComponents">View Components</a></li>
    <li><a asp-page="/Areas">Areas</a></li>
    <li><a asp-page="/TagHelpers">Tag Helpers</a></li>
    <li><a asp-page="/FileUpload">File Upload</a></li>
    <li><a asp-page="/FileDownload">File Download</a></li>
    <li><a asp-page="/Filters">Filters</a></li>
    <li><a asp-page="/Auth">Authentiation and Authorization</a></li>
    <li><a asp-page="/Testing">Testing</a></li>
</ul>