@page
@model RoutingModel

<p><strong>Message: </strong> @Model.Message</p>
<hr />

@* Get / Post *@
<a asp-page="/Routing">OnGet</a> <hr />
<a asp-page="/Routing" asp-page-handler="One">OnGetOne</a><hr />
<form method="post" asp-page-handler="">
    <button type="submit">OnPost</button>
</form><hr />
<form method="post" asp-page-handler="One">
    <button type="submit">OnPostOne</button>
</form><hr />

@* Action Constraints *@
<form method="get">
    <button type="submit" asp-page-handler="Two">OnGetTwo [HttpPost]</button>
</form><hr />
<form method="post" asp-page-handler="Two">
    <button type="submit">OnPostTwo [HttpGet]</button>
</form><hr />

@* Attribute Routing *@
@* This throws ex: asp-page and asp-route mutually exclusive *@
@* <a asp-page="/Routing" asp-route="routetoone">OnGetRoute1</a><hr />*@
<a asp-route="routetoone">OnGetRoute1</a><hr />

@* Url.Page *@
<a asp-page="/Routing" asp-page-handler="UrlForPage">OnGetUrlForPage</a>
(Url.Page("Routing"))
<hr />

<a asp-page="/Routing" asp-page-handler="UrlForPageAndHandler">OnGetUrlForPageAndHandler</a>
(Url.Page("Routing", "One"))
<hr />

@* Parameters *@
<a asp-page="/Routing" asp-page-handler="WithParam" asp-route-id="5">OnGetWithParam</a><hr />

<form method="post" asp-page-handler="WithParam" asp-route-id="5">
    <button type="submit">OnPostWithParam (using asp-route-*)</button>
</form>
<hr />

<form method="post" asp-page-handler="WithParam">
    <input type="hidden" name="id" value="12" />
    <button type="submit">OnPostWithParam (using form inputs)</button>
</form>
<hr />

@* Redirects *@
<a asp-page="/Routing" asp-page-handler="GotoPage">OnGetGotoPage</a><hr />
<a asp-page="/Routing" asp-page-handler="RedirectToPage">OnGetRedirectToPage</a><hr />
