@page
@model IndexModel

<ul>
    <li><a asp-page="/">Pages/Index</a></li>
    <li><a asp-page="/Routing">Pages/Routing</a></li>
    <li><a asp-page="/MyArea1/Index">Pages/MyArea1/Index</a></li>
    <li><a asp-page="/MyArea2/Index">Pages/MyArea2/Index (me)</a></li>
</ul>
